<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Add Patient</h3>
        <%= form_for(diagnosis) do |f| %>
          <% if diagnosis.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(diagnosis.errors.count, "error") %> prohibited this diagnosis from being saved:</h2>

              <ul>
              <% diagnosis.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row form-row">
            <div class="form-group col-md-6">
              <%= f.label :appointment_id %>
              <%= f.collection_select :appointment_id, Appointment.all, :id, :token, {}, {class: "form-control"} %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :disease %>
              <%= f.text_field :disease, class: "form-control", placeholder: "Surname" %>
            </div>

          <h5>Drug Prescription</h5>
          <div id="kins">
              <%= f.fields_for :prescriptions do |prescription| %>
                <%= render 'prescription_fields', f: prescription %>
              <% end %>
              <span class='links'>
                <%= link_to_add_association 'Add Prescription', f, :prescriptions, class: "btn btn-info btn-sm" %>
              </span>
          </div>


          <div class="form-group col-md-12 mb-3">
            <%= f.submit class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
      </div>
  </div>
</div>
