<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment:</strong>
  <%= @diagnosis.appointment %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @diagnosis.disease %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>
