<%= render 'departments/common' %>

<div class="container">
  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-6">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Patient Details</h3>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><strong>Doctor</strong></td>
                <td>Dr. <%= @department.doctor.surname %> <%= @department.doctor.othernames %></td>
              </tr>
              <tr>
                <td><strong>Department</strong></td>
                <td><%= @department.name.capitalize %></td>
              </tr>
             </tbody>
          </table>
        </div>

        <%= link_to edit_department_path(@department), class: "btn btn-success mb-3" do %>
          <span class="ti-pencil-alt"></span>
          Edit Department
        <% end %>

        <%= link_to @department, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mb-3" do %>
          <span class="ti-trash"></span>
          Delete Department
        <% end %>
    </div>
  </div>
