<!-- /Breadcrumb -->
<!-- Main Content -->
<div class="container home">
  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-4">
      <div class="widget-area proclinic-box-shadow color-red">
        <div class="widget-left">
          <span class="ti-user"></span>
        </div>
        <div class="widget-right">
          <h4 class="wiget-title">Patients</h4>
          <span class="numeric color-red"><%= @patients.count %></span>
          <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +20% Increased</p>
        </div>
      </div>
    </div>
    <!-- /Widget Item -->
    <!-- Widget Item -->
    <div class="col-md-4">
      <div class="widget-area proclinic-box-shadow color-green">
        <div class="widget-left">
          <span class="ti-bar-chart"></span>
        </div>
        <div class="widget-right">
          <h4 class="wiget-title">Appointments</h4>
          <span class="numeric color-green"><%= @appointments.count %></span>
          <p class="inc-dec mb-0"><span class="ti-angle-down"></span> -15% Decreased</p>
        </div>
      </div>
    </div>
    <!-- /Widget Item -->
    <!-- Widget Item -->
    <div class="col-md-4">
      <div class="widget-area proclinic-box-shadow color-yellow">
        <div class="widget-left">
          <span class="ti-money"></span>
        </div>
        <div class="widget-right">
          <h4 class="wiget-title">Total Revenue</h4>
          <span class="numeric color-yellow">KSH <%= number_with_delimiter(@payments.sum(:amount)) %></span>
          <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +10% Increased</p>
        </div>
      </div>
    </div>
    <!-- /Widget Item -->
  </div>

  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-6">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Appointments Day by Day</h3>
        <div><%= line_chart Appointment.group_by_day_of_week(:created_at, format: "%a").count %></div>
      </div>
    </div>
    <!-- /Widget Item -->
    <!-- Widget Item -->
    <div class="col-md-6">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title"> Patients Day by Day</h3>
        <div><%= column_chart Patient.group_by_day_of_week(:created_at, format: "%a").count %></div>
      </div>
    </div>
    <!-- /Widget Item -->
  </div>

  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Appointments</h3>
        <div class="table-responsive">
          <table id="tableId" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>App No </th>
                <th>Patient</th>
                <th>Gender</th>
                <th>Doctor</th>
                <th>Department</th>
                <th>Date</th>
                <th>Time Slot</th>
                <th>Issue</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            <% @appointments.each do |appointment| %>
              <tr>
                <td><a href="<% appointment.id %>">CASE/<%= appointment.id %>/<%= Time.now.strftime("%Y") %></a></td>
                <td><%= link_to appointment.patient.surname, appointment %> <%= link_to appointment.patient.othernames, appointment %></td>
                <td><%= appointment.patient.gender %></td>
                <td>Dr. <%= appointment.doctor.surname %></td>
                <td><%= appointment.department.name %></td>
                <td><%= appointment.date %></td>
                <td><%= appointment.timeSlot %></td>
                <td><%= appointment.problem.truncate(30) %></td>
                <% if appointment.diagnosed == true %>
                  <td><span class="badge badge-success"><%= link_to humanize_appointment(appointment.diagnosed), appointment_path(appointment)  %></span></td>
                <% else %>
                  <td><span class="badge badge-danger"><%= link_to humanize_appointment(appointment.diagnosed), appointment_path(appointment) %></span></td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /Widget Item -->
  </div>

  <div class="row">
    <!-- Widget Item -->
    <div class="col-sm-6">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Appointments Status</h3>
        <div><%= pie_chart Appointment.group(:diagnosed).count %></div>
      </div>
    </div>
    <!-- /Widget Item -->
    <!-- Widget Item -->
    <div class="col-md-6">
      <div class="widget-area-2 progress-status proclinic-box-shadow">
        <h3 class="widget-title">Doctors Availability</h3>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Doctor</th>
                <th>Speciality</th>
                <th>Availability</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rajesh</td>
                <td>Dental</td>
                <td>
                  <span class="badge badge-success">Available</span>
                </td>
              </tr>
              <tr>
                <td>Riya</td>
                <td>Ortho</td>
                <td>
                  <span class="badge badge-warning">On Leave</span>
                </td>
              </tr>
              <tr>
                <td>Siri</td>
                <td>Skin</td>
                <td>
                  <span class="badge badge-danger">Not Available</span>
                </td>
              </tr>
              <tr>
                <td>Rajesh</td>
                <td>Dental</td>
                <td>
                  <span class="badge badge-success">Available</span>
                </td>
              </tr>
              <tr>
                <td>Rajesh</td>
                <td>Dental</td>
                <td>
                  <span class="badge badge-success">Available</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!-- /Widget Item -->

  </div>

</div>
<!-- /Main Content -->
</div>
<!-- /Page Content -->
</div>
<!-- Back to Top -->
<a id="back-to-top" href="index.html#" class="back-to-top">
<span class="ti-angle-up"></span>
</a>
<!-- /Back to Top -->

</body>

</html>
