<%= render 'payments/common' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Payments List</h3>
        <div class="table-responsive mb-3">
          <table id="tableId" class="table table-bordered table-striped">
            <thead>
              <tr>
              <th>Appointment</th>
              <th>Patient Name</th>
              <th>Doctor Name</th>
              <th>Service</th>
              <th>Charges</th>
              <th>Payment Type</th>
              <th>status</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @payments.each do |payment| %>
              <tr>
                <td>CASE/<%= payment.appointment.id %>/<%= Time.now.strftime("%Y") %></td>
                <td><%= payment.appointment.patient.surname %> <%= payment.appointment.patient.othernames %></td>
                <td>Dr. <%= payment.appointment.doctor.surname %> <%= payment.appointment.doctor.othernames %></td>
                <td><%= payment.appointment.department.name %></td>
                <td><%= payment.amount %></td>
                <td><%= payment.paymentType %></td>
                <td><span class="badge badge-success">completed</span> </td>
                <td><%= link_to 'Show', payment %></td>
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
