<div class="nested-fields row">
  <div class="row form-row">
    <div class="form-group col-md-2">
      <label for="patient-name">Appointment </label>
      <%= f.collection_select :appointment_id, Appointment.all, :id, :token, {}, {class: "form-control"} %>
    </div>

    <div class="form-group col-md-2">
      <label for="patient-name">Room Number</label>
      <%= f.collection_select :room_id, Room.all, :id, :number, {}, {class: "form-control"} %>
    </div>

    <div class="form-group col-md-2">
      <label for="patient-name">Admission Date</label>
      <%= f.date_select :admissionDate, {}, {class: "form-control"} %>
    </div>

    <div class="form-group col-md-2">
      <label for="patient-name">dischargeDate Date</label>
      <%= f.date_select :dischargeDate, {}, {class: "form-control"} %>
    </div>

    <div class="form-group col-md-3">
      <label>Remove Patient</label>
      <%= link_to_remove_association "Remove Patient", f, class: "btn btn-danger btn-lg" %>
    </div>
</div>
