<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <label for="ward-head">Ward Head</label>
    <%= f.collection_select :ward_id, Ward.all, :id, :name, {}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
  <label for="availability">Occupied ?</label>
    <%= f.check_box :availability %>
  </div>

  <h5>New Admission</h5>
  <div id="admissions">
      <%= f.fields_for :admissions do |admission| %>
        <%= render 'admission_fields', f: admission %>
      <% end %>
      <span class='links'>
        <%= link_to_add_association 'Admit New Patient', f, :admissions %>
      </span>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
