<%= render 'rooms/common' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Rooms List</h3>
        <div class="table-responsive mb-3">
          <table id="tableId" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Ward</th>
                <th>Room Number</th>
                <th>Ward Head</th>
                <th>Admissions</th>

              </tr>
            </thead>
            <tbody>
            <% @rooms.each do |room| %>
              <tr>
                <td><%= room.ward.name %></td>
                <td><%= room.ward.name %> / <%= room.number %> / <%= Time.now.year %></td>
                <td>Dr. <%= room.ward.doctor.surname %> <%= room.ward.doctor.othernames %></td>
                <td><%= room.admissions.count %></td>
                <td><%= link_to 'Show', room %></td
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
