<p id="notice"><%= notice %></p>

<p>
  <strong>Ward:</strong>
  <%= @room.ward %>
</p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @room.availability %>
</p>

<p>
  <strong>User:</strong>
  <%= @room.user %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
