<%= render 'appointments/common' %>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Appointments List</h3>
        <div class="table-responsive mb-3">
          <table id="tableId" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>App No </th>
                <th>Patient</th>
                <th>Gender</th>
                <th>Doctor</th>
                <th>Department</th>
                <th>Date</th>
                <th>Time Slot</th>
                <th>Issue</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            <% @appointments.each do |appointment| %>
              <tr>
                <td><a href="<% appointment.id %>">CASE/<%= appointment.id %>/<%= Time.now.strftime("%Y") %></a></td>
                <td><%= link_to appointment.patient.surname, appointment %> <%= link_to appointment.patient.othernames, appointment %></td>
                <td><%= appointment.patient.gender %></td>
                <td>Dr. <%= appointment.doctor.surname %></td>
                <td><%= appointment.department.name %></td>
                <td><%= appointment.date %></td>
                <td><%= appointment.timeSlot %></td>
                <td><%= appointment.problem.truncate(30) %></td>
                <% if appointment.diagnosed == true %>
                  <td><span class="badge badge-success"><%= link_to humanize_appointment(appointment.diagnosed), appointment_path(appointment)  %></span></td>
                <% else %>
                  <td><span class="badge badge-danger"><%= link_to humanize_appointment(appointment.diagnosed), appointment_path(appointment) %></span></td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


