<p id="notice"><%= notice %></p>

<h1>Wards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Doctor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wards.each do |ward| %>
      <tr>
        <td><%= link_to ward.name, ward %></td>
        <td><%= ward.doctor.surname %> <%= ward.doctor.othernames %>></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ward', new_ward_path %>
