<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ward.name %>
</p>

<p>
  <strong>Doctor:</strong>
  DR. <%= @ward.doctor.surname %> <%= @ward.doctor.othernames %>
</p>


<%= link_to 'Edit', edit_ward_path(@ward) %> |
<%= link_to 'Back', wards_path %>
<%= link_to 'Destroy', @ward, method: :delete, data: { confirm: 'Are you sure?' } %>
