<%= form_for(admission) do |f| %>
  <% if admission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

      <ul>
      <% admission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ward_id %>
    <%= f.text_field :ward_id %>
  </div>

  <div class="field">
    <%= f.label :admissionDate %>
    <%= f.date_select :admissionDate %>
  </div>

  <div class="field">
    <%= f.label :dischargeDate %>
    <%= f.date_select :dischargeDate %>
  </div>

  <div class="field">
    <%= f.label :appointment_id %>
    <%= f.text_field :appointment_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
