<p id="notice"><%= notice %></p>

<h1>Admissions</h1>

<table>
  <thead>
    <tr>
      <th>Ward</th>
      <th>Admissiondate</th>
      <th>Dischargedate</th>
      <th>Appointment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admissions.each do |admission| %>
      <tr>
        <td><%= admission.ward %></td>
        <td><%= admission.admissionDate %></td>
        <td><%= admission.dischargeDate %></td>
        <td><%= admission.appointment %></td>
        <td><%= admission.user %></td>
        <td><%= link_to 'Show', admission %></td>
        <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
        <td><%= link_to 'Destroy', admission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admission', new_admission_path %>
