<%= render 'admissions/common' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Admissions List</h3>
        <div class="table-responsive mb-3">
          <table id="tableId" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Room</th>
                <th>Room Type</th>
                <th>Patient</th>
                <th>Adm Date</th>
                <th>Discharge Date</th>
                <th>Doctor</th>
                <th>Discharged</th>
              </tr>
            </thead>
            <tbody>
            <% @admissions.each do |admission| %>
              <tr>
                <td><%= admission.roomNumber %></td>
                <td><%= admission.roomType %></td>
                <td><%= admission.appointment.patient.surname %> <%= admission.appointment.patient.othernames %></td>
                <td><%= admission.admissionDate.strftime('%D %b %Y') %></td>
                <td><%= admission.dischargeDate.strftime('%D %b %Y') %></td>
                <td>Dr. <%= admission.appointment.doctor.surname %> <%= admission.appointment.doctor.othernames %></td>
                <% if admission.discharged == true %>
                  <td><span class="badge badge-success"><%= humanize_admision(admission.discharged)  %></span></td>
                <% else %>
                  <td><span class="badge badge-danger"><%= humanize_admision(admission.discharged) %></span></td>
                <% end %>

                <td><%= link_to 'Show', admission %></td
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
