<p id="notice"><%= notice %></p>

<p>
  <strong>Ward:</strong>
  <%= @admission.ward %>
</p>

<p>
  <strong>Admissiondate:</strong>
  <%= @admission.admissionDate %>
</p>

<p>
  <strong>Dischargedate:</strong>
  <%= @admission.dischargeDate %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @admission.appointment %>
</p>

<p>
  <strong>User:</strong>
  <%= @admission.user %>
</p>

<%= link_to 'Edit', edit_admission_path(@admission) %> |
<%= link_to 'Back', admissions_path %>
