<%= render 'labs/common' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Lab Tests</h3>
        <div class="table-responsive mb-3">
          <table id="tableId" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Testname</th>
                <th>Result</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @labs.each do |lab| %>
                <tr>
                  <td><%= lab.testName %></td>
                  <td><%= lab.result %></td>
                  <td>Dr. <%= lab.appointment.doctor.surname %> <%= lab.appointment.doctor.othernames %></td>
                  <td><%= lab.appointment.patient.surname %> <%= lab.appointment.patient.othernames %></td>
                  <td><%= link_to 'Show Test', lab %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


