<p id="notice"><%= notice %></p>

<p>
  <strong>Testname:</strong>
  <%= @lab.testName %>
</p>

<p>
  <strong>Result:</strong>
  <%= @lab.result %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @lab.appointment.patient.surname %>
</p>

<p>
  <strong>User:</strong>
  <%= @lab.user.id %>
</p>

<%= link_to 'Edit', edit_lab_path(@lab) %> |
<%= link_to 'Back', labs_path %>
