<%= render 'labs/common' %>

<div class="container">
  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-6">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Patient Details</h3>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><strong>Test Name</strong></td>
                <td><%= @lab.testName %></td>
              </tr>

              <tr>
                <td><strong>Result</strong></td>
                <td><%= @lab.result %></td>
              </tr>

              <tr>
                <td><strong>Patient</strong></td>
                <td><%= @lab.appointment.patient.surname %></td>
              </tr>

            </tbody>
          </table>
        </div>

        <%= link_to edit_lab_path(@lab), class: "btn btn-success mb-3" do %>
          <span class="ti-pencil-alt"></span>
          Edit Lab Test
        <% end %>

        <%= link_to @labs, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mb-3" do %>
          <span class="ti-trash"></span>
          Delete Lab Test
        <% end %>
      </div>
    </div>
