<!-- Top Navigation -->
<div class="container top-brand">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<div class="sidebar-header">
				<a href="index.html">
					<%= image_tag "logo.png", class: "logo", alt: "logo" %>
				</a>
			</div>
		</div>
	</nav>
</div>
<!-- /Top Navigation -->

<!-- Menu -->
<div class="container menu-nav">
	<nav class="navbar navbar-expand-lg proclinic-bg text-white">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="ti-menu text-white"></span> </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto">
			<% if user_signed_in? %>
				<li class="nav-item dropdown active"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false"><span class="ti-home"></span> Dashboard</a> </li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/patients" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="ti-wheelchair"></span>
						Patients
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/patients">All Patients</a>
						<a class="dropdown-item" href="/patients/new">Add Patient</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/doctors" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="ti-user"></span>
						Doctors
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/doctors">All Doctors</a>
						<a class="dropdown-item" href="/doctors/new">Add Doctor</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/appointments" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="ti-pencil-alt"></span>
						Appointments
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/appointments">All Appointments</a>
						<a class="dropdown-item" href="/appointments/new">Add Appointment</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/diagnoses" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="ti-money"></span> Diagnoses
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="<%= diagnoses_path %>">Diagnoses</a>
						<a class="dropdown-item" href="<%= new_diagnosis_path %>">New Diagnosis</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/admissions" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="ti-key"></span>Admissions
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/admissions">Admissions</a>
						<a class="dropdown-item" href="/wards">Wards</a>
						<a class="dropdown-item" href="/wards/new">New Ward</a>
						<a class="dropdown-item" href="/rooms">Rooms</a>
						<a class="dropdown-item" href="/rooms/new">New Admission</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/payments" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="ti-money"></span> Payments
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/payments">Payments</a>
						<a class="dropdown-item" href="/payments/new">New Payment</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/departments" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="ti-money"></span> Department
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/departments %>">Departments</a>
						<a class="dropdown-item" href="/departments/new">New Department</a>
					</div>
				</li>
				<li class="nav-item dropdown ms-auto">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="index.html#" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="ti-key"></span>
						Username
					</a>
					<div class="dropdown-menu">
						<%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
						<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
						</div>
				</li>
				<% end %>
			</ul>
		</div>

	</nav>
</div>
