<!DOCTYPE html>
<html>
  <head>
    <title>Proclinic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "animate", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "green", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "jquery-jvectormap", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "responsive", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "styles", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "morris", "data-turbolinks-track": "reload" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <%= render 'layouts/navbar' %>

        <% flash.each do |key, message| %>
          <div class="alert <%= flash_class(key) %> alert-dismissible fade show text-center" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <%= yield %>
      </div>
    <div>

  </body>
</html>
